<style>
    .div {
        background-color: black;
        color: white;
    }
</style>
<body>

</body>
<script>
(function () {
    var c=document.createElement.bind(document), a=(e, k, v) => {e.setAttribute(k, v);return e}, t=(e, t) => {e.innerText=t;return e};
    document.body.appendChild(t(a(c("div"), "class", "div"), "hello"));
})()
</script>